# Ignora file e cartelle comuni
*.pyc
__pycache__/
*.log
*.tmp
*.swp

# Ignora cartella virtualenv
dinov3/venv
dinov3/outputs

# Ignora file di configurazione IDE
.vscode/
.idea/

# Ignora file di sistema
.DS_Store
Thumbs.db

# Ignora dati utilizzati
Dinov2-few-shot/notebooks/data_dinov3
Dinov2-few-shot/data
